body {
  background-color: black;
  color: white;
  font-family: 'DotGothic16', monospace;
  text-align: center;
  margin: 0;
  padding: 40px 20px;
  line-height: 1.5;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 3.2rem;    
  margin-bottom: 2rem;
  line-height: 1.2;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 1.8rem;    
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.purple {
  color: #bc5eff; 
}

.yellow {
  color: #efd9ff;
}

.white a {
  color: white;
  text-decoration: none;
}

.white a:hover {
  text-decoration: underline; 
}


p {
  font-size: 1.1rem;    
  margin-bottom: 1.2rem;
}


img {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
}
